#posts-section {
  background-color: bisque;
  width: 40%;
  margin: 50px auto;
  padding: 15px;
  border-radius: 8px;
}

.user-image {
  width: 50px;
  height: 50px;
}

.post-container {
  margin-bottom: 5px;
  margin-top: 30px;
}

.post-header {
  display: flex;
  gap: 5px;
  align-items: center;
}

.post-user-name {
  margin: 0;
  margin-top: 3px;
}
.posted-time {
  margin: 0;
  color: rgb(106, 103, 103);
}

.post-text-content {
  margin-top: 4px;
}

.post-text {
  margin: 0;

  padding: 10px;
}

.post-image-content {
  display: flex;
  justify-content: center;
}
.post-image-content img {
  width: 50%;
  border-radius: 8px;
  margin: 15px;
}

.comments-section {
  margin-bottom: 5px;
}

.comment-container {
  display: flex;
  align-items: start;
  gap: 5px;
  margin-bottom: 8px;
}

.comment-user-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-text-container {
  background-color: rgba(204, 237, 127, 0.397);
  padding: 10px;
}

.comment-text-container h4 {
  margin: 0;
  margin-bottom: 3px;
}

.comment-text-container p {
  margin: 0;
}

.comment-holder {
  background-color: rgb(177, 217, 219);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 3px;
}
